<div class="scrollable" ng-controller="SidebarController">
  <h1 class="scrollable-header app-name">{{ 'sidebarHeader' | translate }}</h1>
  <div class="scrollable-content">
    <div class="list-group" ui-turn-off='uiSidebarLeft'>
      <a class="list-group-item" href="#/products">{{ 'sidebarProducts' | translate }} <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/welcome">{{ 'sidebarWelcome' | translate }} <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/sell">{{ 'sidebarSell' | translate }} <i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/mystore">{{ 'sidebarMyStore' | translate }}<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/mybids">{{ 'sidebarMyBids' | translate }}<i class="fa fa-chevron-right pull-right"></i></a>
      <a class="list-group-item" href="#/profile">{{ 'sidebarProfile' | translate }}<i class="fa fa-chevron-right pull-right"></i></a>
      <div class="langButtons">
        <a class="lang" id="english" alt="english" ng-click="toggleLanguage('en')">English</a><span class="lang"> | <span>
        <a class="lang" id="spanish" alt="spanish" ng-click="toggleLanguage('es')">Español</a>
      </div>
    </div>
  </div>
</div>
