<div class='modal' ui-if='viewProductModal' ui-state='viewProductModal' ng-controller='MyStoreController'>
  <div class='modal-backdrop in'></div>
  <div class='modal-dialog'>
    <div class='modal-content'>
      <div class='modal-header'>
        <button class='close'  ng-click='$parent.closeProductModal()'>&times;</button>
        <h4 class='modal-title' ng-show='!$parent.updateMode'>{{ 'viewProductHeader' | translate }}</h4>
        <h4 class='modal-title' ng-show='$parent.updateMode'>{{ 'updateProductHeader' | translate }}</h4>
      </div>
      <div class='modal-body'>

      <form role='form' ng-submit='sendBid()'>
        <fieldset>
          <div class='form-group has-success has-feedback'>
            <label>{{ 'itemNameLabel' | translate }}</label>
            <input type='text'
                   class='form-control'
                   ng-model='$parent.data.updatedProduct.name'
                   ng-disabled='!$parent.updateMode'>
          </div>

          <div class='form-group'>
            <label>{{ 'priceLabel' | translate }}</label>
            <input type='number'
                   class='form-control'
                   ng-model='$parent.data.updatedProduct.price'
                   value='4' 
                   ng-disabled='!$parent.updateMode'>
          </div>

          <div class='form-group has-success'>
            <label>{{ 'categoryLabel' | translate }}</label>
            <select ng-model='$parent.data.updatedProductCategory'
                   class='form-control'
                   ng-options='category.name as category.translation for category in categories'
                   ng-disabled='!$parent.updateMode'
                   >
              <option value='$parent.data.updatedProductCategory' disabled selected hidden>{{ 'categoryPrompt' | translate }}</option>
            </select>
          </div>

          <div class='form-group has-success has-feedback'>
            <label>{{ 'tagsLabel' | translate }}</label>
            <div class='input-group'>
                <input type='text'
                      ng-model='$parent.data.tag' 
                      class='form-control'
                      placeholder='{{ "tagsPlaceholder" | translate }}'
                      ng-enter='$parent.addTag()'
                      ng-disabled='!$parent.updateMode'
                      >
                      <span class ='input-group-btn'>
                        <button class='btn btn-default tag-button' type='button' ng-click='$parent.addTag()' ng-disabled='!$parent.updateMode'>{{ 'addTagButton' | translate }}</button>
                      </span>
            </div>
            
            <div class='tag disabled-tag' ng-repeat='tag in $parent.data.updatedProduct.tags'>
              <a ng-click='$parent.removeTag(tag)'>{{  tag.name || tag  }}</a>
            </div>
          </div>

          <div class='form-group has-success'>
            <label>{{ 'photoLabel' | translate }}</label>
            <div class='input-group'>
              <input type='file'
                     fileread='$parent.data.productPhoto' 
                     class='form-control'
                     placeholder='{{ "pricePlaceholder" | translate }}'
                     ng-disabled='!$parent.updateMode'>
              <span class ='input-group-btn'>
                <button class='btn btn-default tag-button' type='button' ng-click='$parent.addPhoto()' ng-disabled='!$parent.updateMode'>{{ 'uploadPhotoButton' | translate }}</button>
              </span>
            </div>
            <div ng-hide='$parent.data.updatedProduct.photoURL === ""' class='tag'>
              <div><span>{{ 'photoPreview' | translate }}</span><span class='right-align fake-link' ng-click='$parent.removePhoto()' ng-show='$parent.updateMode'>X</span></div>
              <img ng-src='{{ $parent.data.updatedProduct.photoURL }}'>
            </div>
          </div>

          <div class='cancel half-width padded-all' ng-show='$parent.updateMode'>
            <input type='button'  class='btn btn-danger btn-primary btn-block' ng-click='$parent.cancelChanges()' value='{{ "cancelButton" | translate}}' />
          </div>

          <div class='save half-width padded-all' ng-show='$parent.updateMode'>

            <input type='submit'  class='btn btn-success btn-primary btn-block' ng-click='$parent.updateProduct()'value='{{ "saveButton" | translate }}' />
          </div>

          <button class='btn btn-primary btn-block' ng-click='$parent.updateProductMode()' ng-show='!$parent.updateMode'>
            {{ 'updateButton' | translate }}
          </button>
          <button ui-turn-off='viewProductModal'  class='btn btn-danger btn-block' ng-show='!$parent.updateMode'>{{ 'closeButton' | translate }}</button>
        </fieldset>

      </form>
    </div>
  </div>
</div>