
<nav class='navbar navbar-app navbar-relative-top'>
  <div class='btn-group justified'>
    <a href='#/products' class='btn btn-navbar'>All Products</a>
    <a href='#/sell' class='btn btn-navbar'>Sell Item</a>
    <a href='#/logout' class='btn btn-navbar'>Logout</a>
  </div>
</nav>

<div class='row'>
  <div class='col-md-4 col-centered'>
    <input class='form-control' type='text' ng-model='search' placeholder='search for specific item' />
  </div>
</div>

 <!--  <div drag-me='' class='drag-me' ng-repeat='product in data.products | filter:search | orderBy: created_at' class='product'> -->
<div class='row'>
  <!-- <div class='col-sm-4'></div> -->
  <div class='col-md-6 col-xs-12 '>
    <div  ng-repeat='product in data.products.slice().reverse() | filter:search | orderBy: created_at' class='text-center product-container'>
      <img ui-swipe-left='swiped("LEFT")' ui-swipe-right='swiped("RIGHT")' ng-src='{{ product.photoURL }}' class='product-image'>
      <div class='product-price'><strong>${{ product.price }}</strong></div>
    </div>
  </div>
</div>
