body {
  margin: 0;
  font-family: arial, sans-serif;
  background-color: lightgray;
}

li {
  .menu {
    list-style: none;
    float: left;
    padding: 0 10px;
  }
}

div {
  .half-width {
    width: 50%;
    float: left;
  }
  .padded-vertical {
    padding: 5px 0px 5px 0px;
  }
  .padded-all {
    padding: 5px;
  }
}

.sign-up-field {
  .control-label{
    text-align: right !important;
  }
  .col-sm-7 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.input-box {
  margin: 5px auto;
}

.navbar {
  margin-bottom: 0px;
  min-height: 5px;
}

.col-centered {
  float: none !important;
  margin: 0 auto !important;
}

.product-image {
  text-align: center;
  border: 5px solid black;
  max-height:40vh;
}

.product-price {
  text-align: center;
  color: green;
  font-size: 50px;
  -webkit-text-stroke: 2px yellow;
}

.product-name {
  text-align: center;
  color: #007AFF;
  font-size: 50px;
};


.carousel {
  padding: 20px;
  overflow: visible;

  .item, .carousel-item {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 80%;
    background-size: cover;
    padding: 20px;
    min-height:400px;
  };
}

.carousel-inner {
  position: relative;
  overflow: visible;
}

.carousel-item {
  display: block;
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: -moz-transform 500ms;
  transition: transform 500ms;
}

.tag {
  color: #007AFF;
}

.invalid {
  color: red;
  font-style: italic;
}

.valid {
  display: none;
}

.valid-cat {
  color: black;
}

.tag{
  display: inline-block;
  background-color: lightgray;
  border-radius: 5px;
  padding:5px;
  margin-right:10px;
  margin-top:5px;
  color:blue;
}


.tag-button{
  border:1px solid black;
  height:33.9931px;
}
.inline-element{
  display:inline-block;
}


/* style based on invalid */
select:invalid { color: grey }

/* so drop-down items don't inherit color */
select:invalid option { color: black; }

.store-product {
  height: 280px;
  width: 250px;
  float: left;
  padding: 5px;
  margin: 5px;
}

.store-product-image {
  height: 200px;
  width: 200px;
}

.bid-product {
  height: 340px;
  width: 250px;
  float: left;
  padding: 5px;
  margin: 5px;
}
