body {
  margin: 0;
  font-family: arial, sans-serif;
  background-color: lightgray;
}

li {
  .menu {
    list-style: none;
    float: left;
    padding: 0 10px;
  }
}

div {
  .half-width {
    width: 50%;
    float: left;
  }
  .padded-vertical {
    padding: 5px 0px 5px 0px;
  }
  .padded-all {
    padding: 5px;
  }
}

.sign-up-field {
  .control-label{
    text-align: right !important;
  }
  .col-sm-7 {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.search-explain {
  font-size: 22px;
  margin: 50px 0 10px;
}

.btn-search {
  padding: 20px;
  margin: 20px 0 0 0;
  display: float;
  width: 90%;
}


.input-box {
  margin: 5px auto;
}

.lang {
  color: white;
}

.lang-signin {
  color: #FFF;
  padding-top: 10px;
}

.lang-signup {
  color: #000;
  padding-top: 10px;
}

.langButtons {
  position: relative;
  margin-top: 7px;
  margin-left: 8px;
}

.navbar {
  margin-bottom: 0px;
  min-height: 5px;
}

.col-centered {
  float: none !important;
  margin: 0 auto !important;
}

.product-image {
  text-align: center;
  border: 5px solid black;
  border-radius: 3px;
  max-height:40vh;
}

.product-price {
  text-align: center;
  color: green;
  font-size: 5vh;
  
}

.product-name {
  text-align: center;
  color: #007AFF;

}

.product-name-div {
  padding:4px;
}


.product-location {
  font-size: 4vh;
}

.carousel {
  padding: 20px;
  overflow: visible;
  background-color: #9BD7EB !important;

  .item, .carousel-item {
    top: 0;
    left: 0;
    position: absolute;
    display: block;
    width: 100%;
    height: 60%;
    background-size: cover;
    padding: 10px;
    padding-top: 0px;
    min-height:80vh;
  };
}

.carousel-inner {
  position: relative;
  overflow: visible;
}

.carousel-item {
  display: block;
  color: #444;
  background: #f4f4f4;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
  -webkit-transition: opacity 0.3s;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
  opacity: 1;
  border: 10px solid #BFBFBF;
  border-radius: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: -webkit-transform 500ms;
  -moz-transition: -moz-transform 500ms;
  transition: transform 500ms;
}

.tag {
  color: #007AFF;
}

.invalid {
  color: red;
  font-style: italic;
}

.valid {
  display: none;
}

.valid-cat {
  color: black;
}

.tag{
  display: inline-block;
  background-color: lightgray;
  border-radius: 5px;
  padding:5px;
  margin-right:10px;
  margin-top:5px;
  color:blue;
}

.disabled-tag {
   pointer-events: none;
   cursor: default;
}

.tag-button{
  border:1px solid black;
  height:33.9931px;
}
.inline-element{
  display:inline-block;
}


/* style based on invalid */
select:invalid { color: grey }

/* so drop-down items don't inherit color */
select:invalid option { color: black; }

.store-product {
  height: 280px;
  width: 250px;
  float: left;
  padding: 5px;
  margin: 5px;
}

.store-product-div {
  height: 80%;
}

.store-product-image {
  height: 100%;
  width: 100%;
  text-align: center;
  border: 5px solid black;
  border-radius: 3px;
}

.bid-success {
  background-color: #007AFF;
  color: #FFF;
}

.bid-product {
  height: 310px;
  width: 250px;
  float: left;
  padding: 5px;
  margin: 5px;

}

.modal {
  overflow-y:auto;
}

.shwopText {
  color: white;
}

.bigText {
  font-size: 8vw;
}

.medText {
  font-size: 3vw;
}

.welcome-padding {
  padding-top: 30vh;
}

.backshade {
  padding: 10px;
  border-radius: 10px;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(0, 0, 0, 0.6);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.product-card-info {
  margin-top: 10px;
  border-radius: 10px;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(0, 0, 0);
  /* RGBa with 0.6 opacity */
  background-color: rgba(191, 191, 191, 1);
  /* For IE 5.5 - 7*/
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

@media (min-width: 992px) {
  .bigText {
    font-size:4vw;
  }
  .medText {
    font-size: 1vw;
  }
}

.store-heading {
  word-wrap: break-word;
  width:90%
}

.container {
  text-align: center;
}

.right-align {
  float: right;
}

.signin-background {
  background-image: url(../../assets/images/signin_background.JPG);
  background-size: cover;
}

.welcome-background {
  background-image: url(../../assets/images/welcome_background.jpg);
  background-size: cover;
}

.fake-link {
    color: blue;
    cursor: pointer;
}
