  <!-- TODO: (1) Research photo file path validation  -->

<div class='scrollable-header'>
  <nav class='navbar navbar-app navbar-relative-top'>
    <div class="navbar-header">
      <strong class="navbar-brand title">Shwop</strong>
      <div class='btn-group pull-right collapsible'>
        <a href='#/products' class='btn btn-navbar'>All Products</a>
        <a href='#/sell' class='btn btn-navbar'>Sell Item</a>
        <a ng-click='signout()' class='btn btn-navbar'>Logout</a>
      </div>
    </div>
  </nav>
</div>
<div class='scrollable-body'>
  <form name='sellForm' class='sellForm' ng-submit='addProduct()' novalidate>
    <div class='row'>
      <div class='col-md-4 col-centered'>
        <input id='name' name='name' type='text' ng-model='product.name' required><br />
        <label>Product Name</label>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-centered'>
        <input id='price' name='price' type='number' ng-model='product.price' required><br />
        <label>What is your asking price (in dollars)?</label>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-centered'>
        <select name='repeatSelect' id='repeatSelect' ng-model='product.category'>
          <option ng-repeat='category in categories' value='{{ category.name }}' required>{{ category.name }}</option><br />
        </select>
        <label for='repeatSelect'>Pick Product Category</label>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-centered'>
        <input id='tags' name='tags' type='text' ng-model='data.tag' ng-enter='addTag()' ><br />
        <a class='button' type='button' ng-click='addTag()'><em>Add Search Tags</em></a>
        <div  ng-repeat="tag in product.tags">
          {{ tag }}
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-centered'>
        <input id='photo' name='photo' type='file' fileread='productPhoto' required>
        <label>Upload photo</label>
        <div>
          <a type="button" ng-click='addPhoto()'><em>add photo</em></a>
        </div>
        <img ng-src="{{ product.photoURL }}">
      </div>
    </div>
    <br />

    <div class='row'>
      <div class='col-md-4 col-centered'>
        <button type='submit' value='Sell' ng-disabled='sellForm.$invalid'>Sell Item</button>
      </div>
    </div>
  </form>
</div>

