  <!-- TODO: (1) Research photo file path validation  -->

<div class='scrollable'>
<div class='scrollable-header'>
<nav class='navbar navbar-app navbar-relative-top'>
  <strong class='navbar-brand-center navbar-brand'>Shwop</strong>
  <div class='btn-group pull-left'>
    <div ui-toggle='uiSidebarLeft' class='btn sidebar-toggle'>
      <i class='fa fa-bars'></i> {{ 'menuTitle' | translate }}
    </div>
  </div>
  <div class='btn-group pull-right collapsible'>
    <a ng-click='signout()' class='btn btn-navbar'>{{ 'logoutNav' | translate }}</a>
  </div>
</nav>
</div>


<div class='scrollable-content section'>

<form role='form' ng-submit='addProduct()'>
  <fieldset>
    <legend>{{ 'sellItemLegend' | translate }}</legend>

    <div class='form-group has-success has-feedback'>
      <label>{{ 'itemNameLabel' | translate }}</label>
      <input type='text'
             ng-model='product.name'
             class="form-control"
             placeholder='{{ "itemNamePlaceholder" | translate }}'
             required>
    </div>

    <div class='form-group has-success has-feedback'>
      <label>{{ 'priceLabel' | translate }}</label>
      <input type='number'
             ng-model='product.price' 
             class='form-control'
             placeholder='{{ "pricePlaceholder" | translate }}'
             required>
    </div>

    <div class='form-group has-success'>
      <label>{{ 'categoryLabel' | translate }}</label>
      <select ng-model='product.category'
             class='form-control'
             ng-options='category.name as category.translation for category in categories'
             required
             >
        <option value='' disabled selected hidden>{{ 'categoryPrompt' | translate }}</option>
      </select>
    </div>

    <div class='form-group has-success has-feedback'>
      <label>{{ 'tagsLabel' | translate }}</label>
      <div class='input-group'>
          <input type='text'
                ng-model='data.tag' 
                class='form-control'
                placeholder='{{ "tagsPlaceholder" | translate }}'
                ng-enter='addTag()'
                >
                <span class ='input-group-btn'>
                  <button class='btn btn-default tag-button' type='button' ng-click='addTag()'>{{ 'addTagButton' | translate }}</button>
                </span>
      </div>
      
      <div  class='tag' ng-repeat='tag in product.tags'>
        {{  tag.name || tag  }}
      </div>
    </div>

    <div class='form-group has-success'>
      <label>{{ 'photoLabel' | translate }}</label>
      <div class='input-group'>
        <input type='file'
               fileread='productPhoto' 
               class='form-control'
               placeholder='{{ "pricePlaceholder" | translate }}'
               required>
        <span class ='input-group-btn'>
          <button class='btn btn-default tag-button' type='button' ng-click='addPhoto()'>{{ 'uploadPhotoButton' | translate }}</button>
        </span>
      </div>
      <div ng-hide='product.photoURL === ""' class='tag'>
        <div>{{ 'photoPreview' | translate }}</div>
        <img ng-src='{{ product.photoURL }}'>
      </div>
    </div>


  </fieldset>

  <hr>

  <button class='btn btn-primary btn-block'>
    {{ 'sellItemButton' | translate }}
  </button>
</form>



  <!-- <form name='sellForm' class='sellForm' ng-submit='addProduct()' novalidate>
    <div class='row'>
      <div class='col-md-4 col-centered'>
        <input id='name' name='name' type='text' ng-model='product.name' required> <span ng-class='sellForm.name.$valid ? "valid" : "invalid"'> Please enter a product name</span><br />
        <label>Product Name</label>

      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-centered'>
        <input id='price' name='price' type='number' ng-model='product.price' required><span ng-class='sellForm.price.$valid ? "valid" : "invalid"'>
         Please enter a valid amount</span><br />
        <label>What is your asking price (in dollars)?</label>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-centered'>
        <select name='repeatSelect' id='repeatSelect' ng-model='product.category'>
          <option ng-repeat='category in categories' value='{{ category.name }}' required>{{ category.name }}</option><br />
        </select>
        <label for='repeatSelect' ng-class='product.category !== null ? "valid-cat" : "invalid"'>Pick Product Category</label>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-centered'>
        <input id='tags' name='tags' type='text' ng-model='data.tag' ng-enter='addTag()' ><a class='button' type='button' ng-click='addTag()'><em> Add Search Tags</em></a><br /><br />
        <div  class='tag' ng-repeat="tag in product.tags">
          {{ tag }}
        </div>
      </div>
    </div>

    <div class='row'>
      <div class='col-md-4 col-centered'>
        <input id='photo' name='photo' type='file' fileread='productPhoto' required>
        
        <div>
          <a type="button" ng-click='addPhoto()'><em>add photo</em></a>
        </div>
        <img ng-src="{{ product.photoURL }}">
        <div>Valid: {{ sellForm.photo.$valid }}</div>
      </div>
    </div>
    <br />

    <div class='row'>
      <div class='col-md-4 col-centered'>
        <button type='submit' value='Sell' ng-disabled='sellForm.$invalid'>Sell Item</button>
      </div>
    </div>
  </form> -->
</div>
</div>

