

<nav class='navbar navbar-app navbar-relative-top'>
  <div class='btn-group justified'>
    <a href='#/products' class='btn btn-navbar'>All Products</a>
    <a href='#/sell' class='btn btn-navbar'>Sell Item</a>
    <a href='#/logout' class='btn btn-navbar'>Logout</a>
  </div>
</nav>

  <form class="form-horizontal col-md-6 col-centered" ng-submit="sendBid()">
    <div class="form-group">
      <label class="col-sm-2 control-label">Your Bid:</label>
      <div class="col-sm-10">
        <input ng-model="bid" type="text" class="form-control" placeholder="Enter your bid here" maxlength="40" required>
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="button" ng-click="cancel()" class="btn btn-warning">Cancel</button>
        <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>

  <div class='col-md-4 col-centered'>
    <img ng-src='{{ product.photoURL }}' class='product-image'>
    <div class='product-price'><strong>${{ product.price }}</strong></div>
  </div>

