  <!-- TODO: (1) Research photo file path validation  -->

<nav class='navbar navbar-app navbar-relative-top'>
  <strong class='navbar-brand-center navbar-brand'>Shwop</strong>
  <div class='btn-group pull-left'>
    <div ui-toggle='uiSidebarLeft' class='btn sidebar-toggle'>
      <i class='fa fa-bars'></i> Menu
    </div>
  </div>
  <div class='btn-group pull-right collapsible'>
    <a ng-click='signout()' class='btn btn-navbar'>Logout</a>
  </div>
</nav>

<h1>User Profile</h1>
<div>
  <form novalidate class='simple-form'>
    First Name: <input type='text' ng-model='data.user.firstName' /><br />
    Last Name: <input type='text' ng-model='data.user.lastName' /><br />
    Email: <input type='email' ng-model='data.user.email' /><br />
    Phone: <input type='text' ng-model='data.user.phoneNumber' /><br />
    Longitude: <input type='text' ng-model='data.user.longitude' /><br />
    Latitude: <input type='text' ng-model='data.user.latitude' /><br />
    <input type='submit'  class='btn btn-default' ng-click=' value='Save' />
  </form>
</div>