<div class='scrollable'>
  <div class='scrollable-header'>
    <nav class='navbar navbar-app navbar-relative-top'>
      <strong class='navbar-brand-center navbar-brand'>Shwop</strong>
      <div class='btn-group pull-left'>
        <div ui-toggle='uiSidebarLeft' class='btn sidebar-toggle'>
          <i class='fa fa-bars'></i> {{ 'menuTitle' | translate }}
        </div>
      </div>
      <div class='btn-group pull-right collapsible'>
        <a ng-click='signout()' class='btn btn-navbar'>{{ 'logoutNav' | translate }}</a>
      </div>
    </nav>
  </div>

  <div class='scrollable-content section'>
    <h1 class='page-header'>{{ 'userProfileHeader' | translate }}</h1>
    <div>
      <form role='form' class='simple-form'>
      <div class='form-group'>
        <label>{{ 'firstNameInput' | translate }}</label>
        <input type='text' 
               class='form-control'
               ng-model='data.user.firstName'
               disabled>
      </div>
      <div class='form-group'>
        <label>{{ 'lastNameInput' | translate }}</label>
        <input type='text' 
               class='form-control'
               ng-model='data.user.lastName'
               disabled>
      </div>
      <div class='form-group'>
        <label>{{ 'emailInput' | translate }}</label>
        <input type='email' 
               class='form-control'
               ng-model='data.user.email'
               disabled>
      </div>
      <div class='form-group'>
        <label>{{ 'phoneDisplay' | translate }}</label>
        <input type='tel' 
               class='form-control'
               ng-model='data.user.phoneNumber'
               disabled>
      </div>
      <div class='form-group'>
        <label>{{ 'addressLine1Input' | translate }}</label>
        <input type='text' 
               class='form-control'
               ng-model='data.user.address1'
               disabled>
      </div>
      <div class='form-group'>
        <label>{{ 'addressLine2Input' | translate }}</label>
        <input type='text' 
               class='form-control'
               ng-model='data.user.address2'
               disabled>
      </div>

      <div class='form-group'>
        <label>{{ 'cityInput' | translate }}</label>
        <input type='text' 
               class='form-control'
               ng-model='data.user.city'
               disabled>
      </div>

      <div class='form-group'>
        <label>{{ 'stateInput' | translate }}</label>
        <input type='text' 
               class='form-control'
               ng-model='data.user.state'
               disabled>
      </div>

      <div class='form-group'>
        <label>{{ 'zipInput' | translate }}</label>
        <input type='text' 
               class='form-control'
               ng-model='data.user.zip'
               disabled>
      </div>

      <div ng-hide="updateMode" class='padded-vertical'>
        <input type='submit'  class='btn btn-primary btn-block' ng-click='enableUpdateMode()' value='{{ "updateUserProfileButton" | translate}}' />
      </div>

      <div ng-hide="updateMode" class="padded-vertical">
        <input type='submit'  class='btn btn-info btn-block' ng-click='backToShwopping()' value='{{ "backToShwoppingButton" | translate}}' />
      </div>

      <div class='cancel half-width padded-all' ng-show="updateMode">
        <input type='submit'  class='btn btn-danger btn-primary btn-block' ng-click='cancelChanges()' value='{{ "cancelButton" | translate}}' />
      </div>

      <div class='save half-width padded-all' ng-show="updateMode">

        <input type='submit'  class='btn btn-success btn-primary btn-block' ng-click='updateUser()' value='{{ "saveButton" | translate }}' />
      </div>

      </form>
    </div>
  </div>
</div>
