<div class='scrollable'>


  <div class='container scrollable-content section' style='background-image: url(../../assets/images/signin_background.jpg); background-size: cover'>
    <div class='backshade col-sm-6 col-centered'>
    <strong class='bigText shwopText'>Shwop!</strong>
      <form role='form' ng-submit='signin()'>
      <fieldset>
        <div class='form-group has-success has-feedback'>
          <label class='shwopText'>{{ 'emailPrompt' | translate }}</label>
          
          <input type='email' 
                 ng-model='user.email'
                 class='form-control'
                 placeholder='{{ "emailPlaceholder" | translate }}' 
                 required 
                 autofocus>
          
        </div>
        
        <div class='form-group has-success has-feedback'>
          <label class='shwopText'>{{ 'passwordPrompt' | translate }}</label>
          <input type='password'
                 ng-model='user.password'
                 class='form-control' 
                 type='password' 
                 placeholder='{{ "passwordPlaceholder" | translate }}' 
                 required>
        </div>
        

      <hr>

        <button type='submit' class='btn btn-primary btn-block'>{{ 'loginButton' | translate }}</button>
        <button type='button' ng-click='goToSignUp()' class='btn btn-info btn-block'>{{ 'signupPrompt' | translate }}</button>
      
      
      

      </fieldset>
      </form>
      <div class='lang-signin'>
        <a class='lang-signin' id='english' alt='english' ng-click='toggleLanguage("en")'>English</a><span> | <span>
        <a class='lang-signin' id='spanish' alt='spanish' ng-click='toggleLanguage("es")'>Español</a>
      </div>
    </div>
  </div>
</div>
