

<div class='scrollable'>
  <div class='scrollable-header'>
    <nav class='navbar navbar-app navbar-relative-top'>
      <div class='btn-group justified'>
        <a href='#/signin' class='btn btn-navbar active'>{{ 'signinReturn' | translate }}</a>
      </div>
    </nav>
  </div>

  <div class='scrollable-content section'>
    
      <form role='form' ng-submit='signup()'>
        <fieldset>

          <div class='form-group has-success has-feedback'>
            <label>{{ 'emailPrompt' | translate }}</label>
            <input type='email' 
            ng-model='user.email' 
            class='form-control' 
            placeholder='{{ "emailPlaceholder" | translate }}' 
            required >
          </div>

          <div class='form-group has-success has-feedback'>
            <label>{{ 'passwordPrompt' | translate }}</label>
            <input type='password' 
            ng-model='user.password' 
            class='form-control' placeholder='{{ "passwordPlaceholder" | translate }}' 
            required>
          </div>
          
          <div class='form-group has-success has-feedback'>
            <label>{{ 'firstNameInput' | translate }}</label>
            <input type='text' 
            ng-model='user.firstName' 
            class='form-control' 
            placeholder='{{ "firstNamePlaceholder" | translate }}' 
            required>
          </div>

          <div class='form-group has-success has-feedback'>
            <label>{{ 'lastNameInput' | translate }}</label>
            <input type='text' 
            ng-model='user.lastName' 
            class='form-control' 
            placeholder='{{ "lastNamePlaceholder" | translate }}' 
            required>
          </div>

          <div class='form-group has-success has-feedback'>
            <label>{{ 'phoneNumberInput' | translate }}</label>
            <input type='tel' 
            ng-model='user.phoneNumber' 
            oninput="if(value.length>10)value=value.slice(0,10)"
            pattern="[0-9]{10}"
            title='Numbers only, please!' 
            class='form-control' 
            placeholder='{{ "phoneNumberPlaceholder" | translate }}' 
            required>
          </div>

          <div class='form-group has-success has-feedback'>
            <label>{{ 'zipInput' | translate }}</label>
            <input type='number' 
            ng-model='user.zip' 
            class='form-control' 
            placeholder='{{ "zipPlaceholder" | translate }}' 
            required>
          </div>

          <div class="form-group">
            <label>{{ 'preciseLocationPlaceholder' | translate }}</label>
            <ui-switch 
            ng-model='preciseLocation'></ui-switch>
            <span>{{ 'preciseLocationInfoPlaceholder' | translate }}</span>
          </div>

          <div class='form-group has-success has-feedback' ng-show='preciseLocation'>
            <label>{{ 'addressLine1Input' | translate }}</label>  
            <input type='text' 
            ng-model='user.address1' 
            class='form-control' 
            placeholder='{{ "addressLine1Placeholder" | translate }}'>
          </div>
        

          <div class='form-group has-success has-feedback' ng-show='preciseLocation'>
            <label>{{ 'addressLine2Input' | translate }}</label>  
            <input type='text' 
            ng-model='user.address2' 
            class='form-control' 
            placeholder='{{ "addressLine2Placeholder" | translate }}'>
          </div>

          <div class='form-group has-success has-feedback' ng-show='preciseLocation'>
            <label>{{ 'cityInput' | translate }}</label>
              <input type='text' 
              ng-model='user.city' 
              class='form-control' placeholder='{{ "cityPlaceholder" | translate }}'>
          </div>

          <div class='form-group has-success has-feedback' ng-show='preciseLocation'>
            <label>{{ 'stateInput' | translate }}</label>
            <input type='text' 
            ng-model='user.state' 
            class='form-control' 
            placeholder='{{ "statePlaceholder" | translate }}'>
          </div>


        </fieldset>

        <hr>

        <button class='btn btn-primary btn-block'>{{ 'submitButton' | translate }}
        </button>

        <button  ng-click='goToSignIn()' class='btn btn-block btn-default'>{{ 'cancelButton' | translate }}
        </button>

      </form>
      <div class='lang-signup'>
        <a class='lang-signup' id='english' alt='english' ng-click='toggleLanguage("en")'>English</a><span class='lang-signup'> | <span>
        <a class='lang-signup' id='spanish' alt='spanish' ng-click='toggleLanguage("es")'>Español</a>
      </div>
  </div>
</div>
