

<div class='scrollable'>
  <div class='scrollable-header'>
    <nav class='navbar navbar-app navbar-relative-top'>
      <div class='btn-group justified'>
        <a href='#/signin' class='btn btn-navbar active'>{{ 'signinReturn' | translate }}</a>
      </div>
    </nav>
  </div>

  <div class='scrollable-content section'>
    <div class='row'>
      <form class='form-horizontal col-md-5 col-centered' ng-submit='signup()'>
        <div class='modal-body'>

          <div class='form-group sign-up-field'>
            <label class='col-sm-4 control-label'>{{ 'emailPrompt' | translate }}</label>
            <div class='col-sm-7'>
              <input ng-model='user.email' type='email' class='form-control' placeholder='{{ "emailPlaceholder" | translate }}' required autofocus>
            </div>
          </div>

          <div class='form-group sign-up-field'>
            <label class='col-sm-4 control-label signin-label'>{{ 'passwordPrompt' | translate }}</label>
            <div class='col-sm-7'>
              <input ng-model='user.password' type='password' class='form-control' placeholder='{{ "passwordPlaceholder" | translate }}' required>
            </div>
          </div>
          
          <div class='form-group sign-up-field'>
            <label class='col-sm-4 control-label signin-label'>{{ 'firstNameInput' | translate }}</label>
            <div class='col-sm-7'>
              <input ng-model='user.firstName' type='text' class='form-control' placeholder='{{ "firstNamePlaceholder" | translate }}' required>
            </div>
          </div>

          <div class='form-group sign-up-field'>
            <label class='col-sm-4 control-label'>{{ 'lastNameInput' | translate }}</label>
            <div class='col-sm-7'>
              <input ng-model='user.lastName' type='text' class='form-control' placeholder='{{ "lastNamePlaceholder" | translate }}' required>
            </div>
          </div>

          <div class='form-group sign-up-field'>
            <label class='col-sm-4 control-label'>{{ 'phoneNumberInput' | translate }}</label>
            <div class='col-sm-7'>
              <input ng-model='user.phoneNumber' type='phone' class='form-control' placeholder='{{ "phoneNumberPlaceholder" | translate }}' required>
            </div>
          </div>


          <div class='form-group sign-up-field'>
            <label class='col-sm-4 control-label'>{{ 'addressLine1Input' | translate }}</label>
            <div class='col-sm-7'>
              <input ng-model='user.address1' type='text' class='form-control' placeholder='{{ "addressLine1Placeholder" | translate }}' required>
            </div>
          </div>

          <div class='form-group sign-up-field'>
            <label class='col-sm-4 control-label'>{{ 'addressLine2Input' | translate }}</label>
            <div class='col-sm-7'>
              <input ng-model='user.address2' type='text' class='form-control' placeholder='{{ "addressLine2Placeholder" | translate }}'>
            </div>
          </div>

          <div class='form-group sign-up-field'>
            <label class='col-sm-4 control-label'>{{ 'cityInput' | translate }}</label>
            <div class='col-sm-7'>
              <input ng-model='user.city' type='text' class='form-control' placeholder='{{ "cityPlaceholder" | translate }}' required>
            </div>
          </div>

          <div class='form-group sign-up-field'>
            <label class='col-sm-4 control-label'>{{ 'stateInput' | translate }}</label>
            <div class='col-sm-7'>
              <input ng-model='user.state' type='text' class='form-control' placeholder='{{ "statePlaceholder" | translate }}' required>
            </div>
          </div>

          <div class='form-group sign-up-field'>
            <label class='col-sm-4 control-label'>{{ 'zipInput' | translate }}</label>
            <div class='col-sm-7'>
              <input ng-model='user.zip' type='text' class='form-control' placeholder='{{ "zipPlaceholder" | translate }}' required>
            </div>
          </div>
          
        </div>

        <div class='modal-footer'>
          <div class='form-group'>
            <div class='col-sm-offset-5 col-sm-6'>
              <button type='button' ng-click='goToSignIn()' class='btn btn-danger'>{{ 'cancelButton' | translate }}</button>
              <button type='submit' class='btn btn-success'>{{ 'submitButton' | translate }}</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
